################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApiRest/FileContentIndex/42a10064-e7e7-47e6-885a-b3e2b9a96469.vsidx
